.site-header {
    background: $color__rcid-brown;
    .site-branding {
        padding: $spacing-unit 0;
    }
}

.header-bar {
    display: none;
    grid-template-columns: 1fr;
    background-color: rgba(17, 17, 17, .56);
    background-color: $color__rcid-wine;
    @include media-query ($on-desktop) {
        display: grid;
        grid-template-columns: 75% 1fr;
        justify-items: center;
        margin-left: -9999px;
        margin-right: -9999px;
        padding-left: 9999px;
        padding-right: 9999px;
    }
    nav,
    div {
        align-self: center;
        justify-self: center;
    }
    nav {
        @include media-query($on-desktop) {
            justify-self: start;
        }
    }
    div {
        @include media-query($on-desktop) {
            justify-self: end;
        }
    }
}