.page-template-left-sidebar-template {
    .site-content {
        display: grid;
        grid-template-columns: 1fr;
        @include media-query($on-desktop) {
            grid-template-columns: 25% 75%;
        }
        .content-area {
            width: $size__site-main;
            @include media-query($on-desktop) {
                padding-left: $spacing-unit;
                grid-column-start: 2;
                grid-row: 1/1
            }
            .site-main {
                @include media-query($on-desktop) {
                    margin-left: $spacing-unit;
                }
            }
        }
        .widget-area {
            overflow: hidden;
            width: $size__site-main;
            @include media-query($on-desktop) {
                padding-right: $spacing-unit;
                grid-column-start: 1;
                grid-row: 1/1
            }
        }
    }
    .site-footer {
        clear: both;
        width: $size__site-main;
    }
}

// @import "no-sidebar";