.page-template-left-sidebar-template {
    .site-content {
        display: grid;
        grid-template-columns: 1fr;
        @include media-query($on-desktop) {
            grid-template-columns: 25% 75%;
        }
        .content-area {
            // float: right;
            // margin: 0 0 0 (-$size__site-sidebar);
            width: $size__site-main;
            @include media-query($on-desktop) {
                grid-column-start: 2;
                grid-row: 1/1
            }
            .site-main {
                margin: 0 0 0 $size__site-sidebar;
            }
        }
        .widget-area {
            // float: left;
            overflow: hidden;
            width: $size__site-sidebar;
            @include media-query($on-desktop) {
                grid-column-start: 1;
                grid-row: 1/1
            }
        }
    }
    .site-footer {
        clear: both;
        width: $size__site-main;
    }
}

// @import "no-sidebar";