.main-navigation,
.secondary-navigation {
    clear: both;
    display: block;
    width: 100%;
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            ul {
                left: -999em;
                top: 0;
            }
            li {
                &:hover>ul,
                &.focus>ul {
                    left: 100%;
                }
            }
            a {
                width: 200px;
            }
             :hover>a,
            .focus>a {}
            a:hover,
            a.focus {}
        }
        li:hover>ul,
        li.focus>ul {
            left: auto;
        }
        li {
            // float: left;
            position: relative;
            display: inline-block;
            text-align: left;
            &:hover>a,
            &.focus>a {}
            &.menu-item-has-children>a::after {
                color: $color__rcid-orange;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                font-weight: 400;
                line-height: 1;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                line-height: inherit;
                vertical-align: baseline;
                content: "\f107";
                margin-left: 1em;
            }
            a {
                display: none;
                &:first-child {
                    padding-left: 0;
                }
                @include media-query ($on-desktop) {
                    display: block;
                    text-decoration: none;
                    padding: 0 .5em
                }
            }
            .current_page_item>a,
            .current-menu-item>a,
            .current_page_ancestor>a,
            .current-menu-ancestor>a {}
        }
    }
}

.site-header {
    .primary-navigation {
        clear: both;
        // background-color: rgba(17, 17, 17, 0.56);
        background-color: $color__white;
    }
}

.primary-navigation {
    // @include media-query ($on-desktop) {
    margin-left: -9999px;
    margin-right: -9999px;
    padding-left: 9999px;
    padding-right: 9999px;
    // }
    div {
        ul {
            li {
                a {
                    padding: 1.2em 0.857em;
                    color: $color__white;
                    color: $color__rcid-wine;
                    font-weight: 700;
                    background-color: $color__white;
                }
            }
        }
    }
}

.secondary-navigation {
    @include media-query ($on-desktop) {
        div {
            ul {
                li {
                    a {
                        padding: 1.2em 0.857em;
                        color: $color__white;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation,
    .secondary-navigation {
        ul {
            display: block;
        }
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}