//
// Device Screen Sizes
//==========================
$on-phone: 25.938em; //415px or 1px wider than the widest portrait phone;
$on-desktop: 48em; //768px or iPad portrait;
$on-large-screen: 65.188em //1043px; // 65.188em based on 16px base